dkopic2_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/dkopic2_aplikacija_1/MeteoSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.dkopic2.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.dkopic2.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.dkopic2.nwtis.foi.org/" schemaLocation="http://localhost:8084/dkopic2_aplikacija_1/MeteoSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="getMeteo">
<part name="parameters" element="tns:getMeteo"/>
</message>
<message name="getMeteoResponse">
<part name="parameters" element="tns:getMeteoResponse"/>
</message>
<message name="getAddressList">
<part name="parameters" element="tns:getAddressList"/>
</message>
<message name="getAddressListResponse">
<part name="parameters" element="tns:getAddressListResponse"/>
</message>
<message name="getInterval">
<part name="parameters" element="tns:getInterval"/>
</message>
<message name="getIntervalResponse">
<part name="parameters" element="tns:getIntervalResponse"/>
</message>
<message name="getRank">
<part name="parameters" element="tns:getRank"/>
</message>
<message name="getRankResponse">
<part name="parameters" element="tns:getRankResponse"/>
</message>
<message name="getLast">
<part name="parameters" element="tns:getLast"/>
</message>
<message name="getLastResponse">
<part name="parameters" element="tns:getLastResponse"/>
</message>
<portType name="MeteoSOAP">
<operation name="getMeteo">
<input wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getMeteoRequest" message="tns:getMeteo"/>
<output wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getMeteoResponse" message="tns:getMeteoResponse"/>
</operation>
<operation name="getAddressList">
<input wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getAddressListRequest" message="tns:getAddressList"/>
<output wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getAddressListResponse" message="tns:getAddressListResponse"/>
</operation>
<operation name="getInterval">
<input wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getIntervalRequest" message="tns:getInterval"/>
<output wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getIntervalResponse" message="tns:getIntervalResponse"/>
</operation>
<operation name="getRank">
<input wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getRankRequest" message="tns:getRank"/>
<output wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getRankResponse" message="tns:getRankResponse"/>
</operation>
<operation name="getLast">
<input wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getLastRequest" message="tns:getLast"/>
<output wsam:Action="http://soap.dkopic2.nwtis.foi.org/MeteoSOAP/getLastResponse" message="tns:getLastResponse"/>
</operation>
</portType>
<binding name="MeteoSOAPPortBinding" type="tns:MeteoSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMeteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInterval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLast">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="MeteoSOAPPort" binding="tns:MeteoSOAPPortBinding">
<soap:address location="http://localhost:8084/dkopic2_aplikacija_1/MeteoSOAP"/>
</port>
</service>
</definitions>